/* book-rent.component.css */

.book-rent-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    z-index: 1000;
  }
  
  .book-rent-popup h3 {
    margin-top: 0;
  }
  
  .book-rent-popup button {
    padding: 8px 16px;
    margin-right: 8px;
    cursor: pointer;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999; /* Higher z-index than the pop-up */
    display: none; /* Initially hidden */
  }
  
  .overlay.active {
    display: block; /* Display when the pop-up is open */
  }
  
/* Style for green messages */
.message-green {
    color: green;
  }
  
  /* Style for red messages */
  .message-red {
    color: red;
  }

  /* Optional: Style the close button */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .button-container {
    margin-top: 10px; /* Adjust the margin as needed */
  }
  
  .button-container button {
    margin-right: 8px; /* Adjust the margin between buttons as needed */
  }