.welcome-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .new-releases-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .new-releases-container h2 {
    margin-bottom: 10px;
  }
  
  .new-releases-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .book-release {
    width: 150px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
    overflow: hidden; /* Ensures images won't overflow the container */
  }
  
  .book-release img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  /* home.component.css */
  button {
    top: 0;
    right: 0;
    margin-top: 10px; /* Adjust the margin as needed */
    margin-right: 10px;
  }