<!-- app.component.html -->
<!-- Register Button -->
<button routerLink="/authentification" [queryParams]="{ action: 'register' }">Register</button>

<!-- Login Button -->
<button routerLink="/authentification">Login</button>

<div class="welcome-container">
  <h1>Welcome to Bookrent!</h1>
  <!-- search bar -->
  <input #searchInput type="text" placeholder="Search books..." (keyup.enter)="searchBooks(searchInput.value)">
</div>

<div class="new-releases-container">
  <h2>New Releases</h2>
  <!-- book releases -->
  <div class="new-releases-list">
    <div *ngFor="let release of newReleases" class="book-release" (click)="showBookDetails(release)">
      <img [src]="release.image" alt="{{ release.title }}" />
    </div>
  </div>
</div>